.gym-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
  }
  
    .gym-image.bug {
      background-color: #92BC2C;
    }
    
    .gym-image.dark {
      background-color: #595761;
    }
    
    .gym-image.dragon {
      background-color: #0C69C8;
    }
    
    .gym-image.electric {
      background-color: #F2D94E;
    }
    
    .gym-image.fire {
      background-color: #FBA54C;
    }
    
    .gym-image.fairy {
      background-color: #EE90E6;
    }
    
    .gym-image.fighting {
      background-color: #D3425F;
    }
    
    .gym-image.flying {
      background-color: #A1BBEC;
    }
    
    .gym-image.ghost {
      background-color: #5F6DBC;
    }
    
    .gym-image.grass {
      background-color: #5FBD58;
    }
    
    .gym-image.ground {
      background-color: #DA7C4D;
    }
    
    .gym-image.ice {
      background-color: #75D0C1;
    }
    
    .gym-image.normal {
      background-color: #A0A29F;
    }
    
    .gym-image.poison {
      background-color: #B763CF;
    }
    
    .gym-image.psychic {
      background-color: #FA8581;
    }
    
    .gym-image.rock {
      background-color: #C9BB8A;
    }
    
    .gym-image.steel {
      background-color: #5695A3;
    }
    
    .gym-image.water {
      background-color: #539DDF;
    }