.move-box {
    border: 1px solid #ccc;
    padding: 8px;
    border-radius: 4px;
    text-align: center;
  }

  .move-box.bug {
    border-color: #92BC2C;
  }
  
  .move-box.dark {
    border-color: #595761;
  }
  
  .move-box.dragon {
    border-color: #0C69C8;
  }
  
  .move-box.electric {
    border-color: #F2D94E;
  }
  
  .move-box.fire {
    border-color: #FBA54C;
  }
  
  .move-box.fairy {
    border-color: #EE90E6;
  }
  
  .move-box.fighting {
    border-color: #D3425F;
  }
  
  .move-box.flying {
    border-color: #A1BBEC;
  }
  
  .move-box.ghost {
    border-color: #5F6DBC;
  }
  
  .move-box.grass {
    border-color: #5FBD58;
  }
  
  .move-box.ground {
    border-color: #DA7C4D;
  }
  
  .move-box.ice {
    border-color: #75D0C1;
  }
  
  .move-box.normal {
    border-color: #A0A29F;
  }
  
  .move-box.poison {
    border-color: #B763CF;
  }
  
  .move-box.psychic {
    border-color: #FA8581;
  }
  
  .move-box.rock {
    border-color: #C9BB8A;
  }
  
  .move-box.steel {
    border-color: #5695A3;
  }
  
  .move-box.water {
    border-color: #539DDF;
  }