<div *ngIf="pokemons && pokemons.length > 0; else noData" class="pokemon-list-container">
    <div *ngFor="let p of pokemons" class="pokemon-card">
      <img [src]="p.imageUrl" [alt]="p.name" width="150" />
      <h3>{{ p.name }} (#{{ p.dexNumber }})</h3>
      <div class="pokemon-types">
        <div *ngFor="let type of p.types" class="icon" [ngClass]="type.toLowerCase()">
          <img [src]="typeIconMap[type.toLowerCase()]" [alt]="type" (error)="onImageError(type)"/>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #noData>
    <p>Carregant</p>
  </ng-template>