<div>
    <!-- Graella de gimnasos -->
    <div *ngIf="!selectedGymNumber" class="gym-grid">
      <div
        *ngFor="let number of availableGymNumbers"
        class="gym-cell"
        (click)="viewGymDetails(number)"
      >
      <ng-container *ngIf="getGymByNumber(number); else showNumber">
        <img
          [src]="getGymByNumber(number)?.pokemons?.[0]?.pokemon?.imageUrl ?? 'default-image-url.png'"
          [alt]="getGymByNumber(number)?.acePokemon || 'Sense Pokémon'"
          class="gym-image"
          [ngClass]="getGymByNumber(number)?.gymType?.toLowerCase()"
        />
      </ng-container>

      <ng-template #showNumber>
        <div class="gym-number">
            {{ number }}
          </div>
        </ng-template>      
        </div>
    </div>
  
    <!-- Detalls del gimnàs seleccionat -->
    <div *ngIf="selectedGymNumber" class="gym-details">
      <button (click)="backToGrid()">Torna a la graella</button>
  
      <!-- Si el gimnàs existeix -->
      <div *ngIf="selectedGym">
        <h3>Detalls del Gimnàs {{ selectedGym.gymNumber }}</h3>
        <strong>Tipus:</strong>
        <div class="pokemon-types">
          <div class="icon" [ngClass]="selectedGym.gymType.toLowerCase()">
            <img [src]="typeIconMap[selectedGym.gymType.toLowerCase()]" [alt]="selectedGym.gymType" (error)="onImageError(selectedGym.gymType)" />
          </div>
        </div>
        <strong>Pokémon Principal:</strong> {{ selectedGym.acePokemon || 'Sense Pokémon' }} <br />
        <strong>Pokémons:</strong>
        <ul>
          <li *ngFor="let pokemon of selectedGym.pokemons">
            {{ pokemon.pokemon.name || 'Sense nom' }} - Moviments:
            <div *ngIf="pokemon.moves && pokemon.moves.length > 0" class="moves-container">
              <div *ngFor="let move of pokemon.moves" class="move-box" [ngClass]="move.type.toLowerCase()">
                {{ move.name }}
              </div>
            </div>
            <div *ngIf="!pokemon.moves || pokemon.moves.length === 0">
              Sense moviments
            </div>
          </li>
        </ul>
        <button class="delete-gym-button" (click)="deleteGym(selectedGym.gymNumber)">Eliminar Gimnàs</button>
      </div>
  
      <!-- Si el gimnàs no existeix -->
      <div *ngIf="!selectedGym">
        <h3>El gimnàs {{ selectedGymNumber }} no existeix.</h3>
        <button (click)="openAddGymForm()">Crear Gimnàs</button>
      </div>
    </div>
  
    <div *ngIf="showAddGymForm">
      <h3>Afegir un nou gimnàs</h3>
  
      <!-- Pas 0: Selecciona el número del gimnàs -->
      <div *ngIf="!selectedGymNumber">
        <h4>Pas 0: Selecciona el número del gimnàs</h4>
        <select (change)="onInputChange($event)">
          <option value="" disabled selected>Selecciona un número</option>
          <option *ngFor="let number of availableGymNumbers" [value]="number">
            {{ number }}
          </option>
        </select>
      </div>
  
      <!-- Pas 1: Selecciona un tipus -->
      <div *ngIf="selectedGymNumber && step === 1">
        <h4>Pas 1: Selecciona un tipus</h4>
        <button *ngFor="let type of availableTypes" (click)="selectType(type)">
          {{ type }}
        </button>
      </div>
  
      <!-- Pas 2: Selecciona un Pokémon -->
      <div *ngIf="step === 2">
        <h4>Pas 2: Selecciona un Pokémon</h4>
        <button *ngFor="let pokemon of availablePokemons" (click)="selectPokemon(pokemon)">
          {{ pokemon.name }}
        </button>
      </div>

      <div *ngIf="step === 3 &&  acePokemon===''">
        <h4> Vols que aquest sigui el Pokémon principal?</h4>
        <button (click)="selectAcePokemon(selectedPokemon)">Sí</button>
        <button (click)="selectAcePokemon(false)">No</button>
      </div> 
  
      <!-- Pas 3: Selecciona fins a 4 moviments -->
      <div *ngIf="step === 3 && acePokemon !== ''">
        <h4>Pas 3: Selecciona fins a 4 moviments</h4>
        <div>
          <h5>Moviments disponibles:</h5>
          <button *ngFor="let move of availableMoves"
           (click)="selectMove(move)"
           [ngClass]="move.type.toLowerCase()">
            {{ move.name }}
          </button>
        </div>
        <div>
          <h5>Moviments seleccionats:</h5>
          <ul>
            <li *ngFor="let move of selectedMoves">
              {{ move.name }}
              <button (click)="removeMove(move)">Eliminar</button>
            </li>
          </ul>
        </div>
        <button [disabled]="selectedMoves.length > 4 || selectedMoves.length == 0" (click)="addAnotherPokemon()">Afegir un altre pokemon</button>
          
        <button [disabled]="selectedMoves.length > 4 || selectedMoves.length == 0" (click)="finalizeGym()">Finalitzar Gimnàs</button>
      </div>
    </div>
