/* styles.css */
body {
  background-color: #2c2c2c; /* Un gris fosc tirant a negre */
  color: #f0f0f0; /* Text clar per contrastar amb el fons */
  /* Altres estils globals que puguis tenir */
}

/* O si vols aplicar-ho a l'element app-root */
app-root {
  display: block; /* Assegura que ocupi tota l'amplada */
  background-color: #2c2c2c; /* Un gris fosc tirant a negre */
  min-height: 100vh; /* Ocupa almenys tota l'alçada de la finestra */
  color: #f0f0f0; /* Text clar per contrastar amb el fons */
}
